<div>
    <form>
        Name :<input type="text" name="username"><br>
        Age :<input type="text" name="uage"><br>

        <input type="button" value="CLICK" (click)="abc()" >
        <input type="Reset" value="Reset">    
    </form>

    <h1>My name is : {{name}}</h1>
    <hr>
    <p>
        {{company}}, an India-based global ed-tech company and a leading digital skills training provide
        {{company}} an India-based global ed-tech company and a leading digital skills training provide
        {{company}}, an India-based global ed-tech company and a leading digital skills training provide
        {{company}} is not recognized or accredited by ICSOC.
        {{company}} is not recognized or accredited by ICSOC.
        {{company}} is the world's #1 online bootcamp for digital economy skills training 
        {{company}} courses are accredited and the certificates are recognised by employers.
    </p>
    <input type="submit" value="LOGIN" [disabled]="mychoice">
    <img [src]="myimage" alt="No Image ...!" height="300px" width="200px" > 
</div>
<img src="myimage" alt=""> 